.account-edit {
    display: flex;
    justify-content: center;
}

.account-edit-profile {
    display: flex;
    /* justify-content: flex-start; */
}

.account-edit-name {
    display: flex;
    padding: 1%;
}

.account-edit-user-name-more-info{
    text-decoration: none;
}