.change-password {
    display: flex;
    /* justify-content: center; */
    width: 1000px;
    margin-top: 2%;
    margin-left: 25%;
    border: 0.5px solid lightgrey;
}

.change-password-password {
    display: flex;
    justify-content: center;
}

.change-password-password>input {
    width: 450px;
    height: 30px;
    margin-top: 15px;
    border-radius: 4px;
    border: 0.5px #e1e9e5 solid;
}

.change-password-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 310px;
}

.change-password-avatar>div {
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}

.change-password-previous-title {
    margin-right: 25px;
    margin-left: -30px;
    font-weight: bold;
    margin-top: 20px;
}

.change-password-new-password-title {
    margin-right: 25px;
    font-weight: bold;
    margin-top: 15px;
}

.change-password-container {
    margin-left: -350px;
    margin-top: 30px;
}

.change-password-new-password-confirm {
    margin-right: 25px;
    margin-left: -65px;
    font-weight: bold;
    margin-top: 15px;
}

.change-password-button {
    margin-left: 135px;
    margin-top: 25px;
    width: 100px;
    height: 35px;
    color: white;
    background-color: #54c1f1;
    border: none;
}

.change-password-link-to-change-password {
    margin-left: 135px;
    margin-top: 20px;
    color: #54c1f1;
}