@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.header {
    display: flex;
    padding: 1%;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 0.5px lightgrey solid;
}

.header-search-bar {
    display: flex;
}

.instagram-title {
    font-family: 'Dancing Script', cursive;
    font-size: 155%;
    margin-right: 13%;
}

.icon-list {
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 5%;
}

.search-icon {
    position: absolute !important;
    margin-left: -220px;
}

.header-modal {
    position: absolute;
    margin-top: 200px;
    margin-left: 70%;
    transform: translate(-50%, -50%);
    width: 220px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 24px;
    background-color: white;
    border-radius: 10px;
}

.modal-logout {
    width: 220px;
    margin-left: -10px;
    border-top: 1px solid lightgray;
    padding: 1%;
}

.homeIcon,
.myMessage,
.explore {
    cursor: pointer;
}

.searched-users-list {
    position: absolute;
    margin-left: -5vw;
    margin-top: 1.5vh;
    width: 25vw;
    height: 10vh;
    z-index: 1;
    border: 0.5px lightgrey solid;
}

.searched-user-container {
    /* border: 1px solid black; */
    padding: 10px;
    display: flex;
    background-color: white;
}

.searched-users-id-and-username {
    margin-left:1vw;
}

.diamond {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(240, 225, 225);
    transform: rotate(45deg);
    margin-left: 7vw;
    margin-top: 1vh;
}