.main-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    
}

.main {
    border: 0.5px solid lightgrey;
    width: 550px;
    margin-left: 10%;
    margin-top:0.1px;
}

.main-title {
    width: 550px;
    align-items: center;
    padding: 1%;
    display: flex;
}

.main-avatar {
    margin-right: 1rem;
    margin-left: 1rem;
}

.main-horiz-oulined-icon {
    margin-left: 370px;
}

.main-image-container {
    padding: 1%;
    justify-content: center;
    padding: 1%;
    display: flex;
}

.main-image {
    /* padding: 1%; */
    width: 550px;
}

.main-page-icons {
    margin-left: 1%;
}

.main-page-icons-container {
    width: 550px;
    align-items: center;
}

.main-page-bookmark-icon {
    float: right;
    margin-right: 1%;
}

.main-page-info {
    margin-left: 1%;
}

.main-page-comment {
    width: 550px;
    padding: 1%;
    display: flex;
}

.main-page-comment>span {
    margin-left: 1%;
}

.comment-button {
    margin-left: 70%;
    color: lightblue;
}

.main-modal-hr {
    border: 1px solid lightgray;
}