.profile-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-avatar {
    transform: scale(3.5) translate(-200%, 20%);
    background-color: lightgrey;
}

.profile-title-info{
    margin-right:50px;
    margin-top:20px;
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: space-evenly;
}