.push-alarm {
    display: flex;
    
    width: 1000px;
    margin-top: 2%;
    margin-left: 25%;
    border: 0.5px solid lightgrey;
}

.push-alarm-main {
    margin-left: -300px;
    width: 600px;
}

.push-alarm-main > div {
    margin: 30px 0 30px 0px;
}
.push-alarm-icon {
    float: right;
}

.push-alarm-like {
    display: flex;
    flex-direction: column;
}