.stories {
    /* padding: 1%; */
    display: flex;
    margin-top: 15px;
    align-items: center;
    border: 0.5px solid lightgrey;
    width: 548px;
    
    margin-left: 65px;
    margin-bottom: 2%;
}

.stories-block {
    display: flex;
    align-items: center;
}

.stories-avatar>div {
    margin-left: 3%
}

.stories-avatar {
    display: flex;
    align-items: center;
}

.storeis-last {
    margin-right: 400px;
}