.header-profile-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    /* background: rgba(0, 0, 0, 0.75); */
}

.header-profile-ul {
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0.0.26);
    border-radius: 10px;
    position: fixed;
    /* top: 10vh; */
    top: 4vh;
    right: 22vw;
    width: 10vw;
    height: 20vh;
    z-index: 100;
    overflow: hidden;
    padding:1%;
}

ul {
    list-style-type: none;
}

li {
    padding: 3%;
}

li>span {
    padding: 3%;
}

.exchange-icon {
    rotate: 90deg;
}