.email-alarm {
    display: flex;
    width: 1000px;
    height: 800px;
    border: 0.5px solid lightgrey;
    margin-top: 20px;
    margin-left: 400px;
}

.email-alarm-main {
    width: 800px;
    margin-left: -80px;
}

.email-alarm-extra-info {
    font-size: 10px;
    color: lightgrey;
    margin-top: 10px;
    margin-left: 2px;
}