.help {
    display: flex;
    width: 1000px;
    height: 800px;
    border: 0.5px solid lightgrey;
    margin-top: 20px;
    margin-left: 400px;
}

.help-main {
    width: 800px;
    margin-left: -120px;
    padding:2%;
}

.help-main-title {
    font-size: 20px;
    margin: 20px 0 20px 0;
}

.help-main-content {
    margin: 10px 0 10px 0;
}

.help-main-icon {
    float: right;
}